/* Début Page Index -------------------------------------------------------------------*/

html
{
    height: 100%;
}

body
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header 
{
    height: 150px;
    display: flex;
    flex-direction: column;
}

main
{
    margin-bottom: 5%;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}

#listecam a,
.menu2 a,
.menu3 a 
{
    text-decoration: none;
    color: black;
}

#listecam a:hover,
.appa a:hover,
.menu2 a:hover,
.menu3 a:hover 
{
    text-decoration: none;
    color: black;
}

.logo 
{
    text-align: center;
    margin-top: 35px;
    height: 80px;
}

.logodef 
{
    width: 20%;
}

.logodef2 
{
    width: 2%;
    padding-bottom: 2.5%;
}

.logodef3 
{
    width: 100px;
    padding-bottom: 6.9px;
}

.logodef4 
{
    width: 7%;
    padding-left: 5px;
}

.logodef5 
{
    width: 1%;
    padding-bottom: 7px;
}

.Menu 
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu1 
{
    position: relative;
    padding-top: 1.3%;
    flex: 1;
}

.menu2 
{
    position: relative;
    flex: 1;
    padding-top: 1%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.men2,
.men3 
{
    transition: all 400ms;
}

.menu3 
{
    position: relative;
    flex: 1;
    width: auto;
    padding-top: 1%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer 
{
    height: 50px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    bottom: 0;
}

.ligne
{
    width: 80%;
    height: 2px;
    background: rgb(147, 93, 244, 1);
    margin-top: 10px;
}

aside 
{
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#displayphoto 
{
    height: 90%;
}

#pagemilieu
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 100px;
    margin-top: 50px;
}

#pagepanier
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 100px;
    margin-top: 100px;
}

.appa 
{
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.categories 
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.txtapp 
{
    text-decoration: none;
    color: black;
    transition: all 500ms;
}

.menu1CSS 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 5%;
}

.menu2CSS 
{
    margin-left: 10%;
}

.menu3CSS 
{
    width: 200px;
    border-radius: 5%;
}

.menu4CSS 
{
    width: 250px;
    border-radius: 5%;
}

.menu5CSS 
{
    font-size: 20px;
}

.menu5CSS 
{
    text-align: center;
    transition: all 500ms;
}

@keyframes couleurboucletxt 
{
    from,
    to {
        color: black;
    }
    50% {
        color: #e78b05;
    }
    100% {
        color: #945eef;
    }
}

.menu5CSS:hover,
.txtapp:hover 
{
    animation: couleurboucletxt 2s forwards alternate infinite;
    transform: scale(1.2);
}

.menu2 a:hover 
{
    color: #e78b05;
}

.men2:hover 
{
    transform: scale(1.2);
}

.menu3 a:hover 
{
    color: #945eef;
    transform: scale(1.2);
}

.oriwhite 
{
    width: 100px;
    color: white;
    text-align: center;
    padding-top: 0.4%;
}

/* Fin Page Index -------------------------------------------------------------------*/

/* Debut Page vcam -----------------------------------------------------------------*/

#produit 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuproduit
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pos
{
    margin-top: 2%;
}

.pan1
{
    border: 2px solid black;
    margin-left: 5%;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: white;
    transition: all 450ms;
}

.pan1:hover
{
    transform: scale(1.02);
    color: white;
    background-color: black;
    opacity: 0.85;
}

#choix
{
    margin-left: 2%;
}

/* Fin Page vcam --------------------------------------------------------------------*/

/* Début Page Panier -----------------------------------------------------------------*/

#titlep, #total
{
    text-align: center;
}

#basket
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#articlePanier
{
    margin-top: 2%;
}

#produit
{
    margin-top: 3%;
}

h5
{
    margin-left: 2%;
}

.paniertxt
{
    font-size: 20px;
}

#prixTotal
{
    margin-top: 2%;
    text-align: center;
}

#formulaire
{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-row
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#valider
{
    border: 2px solid black;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: white;
    transition: all 450ms;
}

#valider:hover
{
    transform: scale(1.02);
    color: white;
    background-color: black;
    opacity: 0.85;
}

#price
{
    width: 100px;
}

#supprime
{
    border: 2px solid black;
    width: 200px;
    margin-left: 2%;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: white;
    transition: all 450ms;
}

#supprime:hover
{
    transform: scale(1.02);
    color: white;
    background-color: black;
    opacity: 0.85;
}

/* Fin Page Panier -------------------------------------------------------------------*/

/* Début Page Confirmation -----------------------------------------------------------*/

.pann
{
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: white;
    transition: all 450ms;
}

.pann:hover
{
    transform: scale(1.02);
    color: white;
    background-color: black;
    opacity: 0.85;
}

.lien
{
    text-decoration: none;
}

a:link 
{ 
 text-decoration:none; 
} 

/* Fin Page Confirmation -----------------------------------------------------------*/

@media all and (max-width: 950px)
{
    .menu2CSS
    {
        margin-left: 0px;
    }

    .menu1CSS 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
        padding-top: 5%;
    }

    .logodef 
    {
        width: 200px;
    }
}
