/* Début Page Index -------------------------------------------------------------------*/ 

header
{
    height: 150px;
    display: flex;
    flex-direction: column;
}

#listecam a, .menu2 a, .menu3 a
{
    text-decoration: none;
    color: black;
}

#listecam a:hover, .appa a:hover, .menu2 a:hover, .menu3 a:hover
{
    text-decoration: none;
    color: black;
}

.logo
{
    text-align: center;
    margin-top: 35px;
    height: 80px;
}

.logodef
{
    width: 20%;
}

.logodef2
{
    width: 2%;
    padding-bottom: 2.5%;
}

.logodef3
{
    width: 100px;
    padding-bottom: 6.9px;
}

.logodef4
{
    width: 7%;
    padding-left: 5px;
}

.logodef5
{
    width: 1%;
    padding-bottom: 7px;
}

.Menu
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.menu1
{
    position: relative;
    padding-top: 1.3%;
    flex: 1;
}

.menu2
{
    position: relative;
    flex: 1;
    padding-top: 1%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.men2, .men3
{
    transition: all 400ms;
}

.menu3
{
    position: relative;
    flex: 1;
    width: auto;
    padding-top: 1%;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

footer
{
	height: 50px;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

hr
{
    margin: 100px auto;
    width: 99%;
    height: 4px;
    background: rgb(230,138,8);
    background: linear-gradient(90deg, rgba(230,138,8,1) 0%, rgba(230,138,0,1) 30%, rgba(0,0,0,1) 50%, rgba(147,93,244,1) 70%, rgba(147,93,244,1) 100%);
    border: none;
}

aside
{
    height: 80%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pagemilieu
{
    min-height: 500px;
}

#displayphoto
{
    border-left: 0.5px solid black;
    height: 90%;
    
}

#pagemilieu
{
    display: flex;
}

.appa
{
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
}

.categories
{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.txtapp
{
    text-decoration: none;
    color: black;
    transition: all 500ms;
}

.menu1CSS
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding-top: 5%;
}

.menu2CSS
{
    margin-left: 10%;
}

.menu3CSS
{
    width: 200px;
    border-radius: 5%;
}

.menu4CSS
{
    font-size: 20px;
}

.menu5CSS
{
    font-size: 15px;
}

.menu4CSS, .menu5CSS
{
    text-align: center;
    transition: all 500ms;
}


@keyframes couleurboucletxt 
{
    from, to { color: black; }
    50%      { color: #e78b05; }
    100%      { color: #945eef; }
}

.menu4CSS:hover, .menu5CSS:hover, .txtapp:hover
{
    animation: couleurboucletxt 2s forwards alternate infinite;
    transform: scale(1.20);
}

.menu2 a:hover
{
    color: #e78b05;
}

.men2:hover
{
    transform: scale(1.20);
}

.menu3 a:hover
{
    color: #945eef;
    transform: scale(1.20);
}

.oriwhite
{
    width: 8%;
    color: white;
    text-align: center;
    padding-top:0.4%;
}

/* Fin Page Index -------------------------------------------------------------------*/ 

/* Debut Page vcam1 -----------------------------------------------------------------*/ 

.l1istecam
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

#d1isplayphoto
{
    width: 80%;
    border-left: 0.5px solid black;
    height: 90%;
}

.d1es, .d2es, .d3es, .d4es, .d5es
{
    margin-left: 5%;
    font-weight: bold;
}

#innerNom1, #innerNom11, #innerDes1, #innerPri1, #innerId1, #innerOpt1, #innerNom2, #innerNom21, #innerDes2, #innerPri2, #innerId2, #innerOpt2, #innerNom3, #innerNom31, #innerDes3, #innerPri3, #innerId3, #innerOpt3, #innerNom4, #innerNom41, #innerDes4, #innerPri4, #innerId4, #innerOpt4, #innerNom5, #innerNom51, #innerDes5, #innerPri5, #innerId5, #innerOpt5
{
    font-weight: normal;
}

.gras
{
    font-weight: bold;
}

.titre
{
    text-align: center;
    padding-top: 1.2%;
    height: 10%;
}

.hh1
{
    font-size: 30px;
}

.pan1, .pan2, .pan3, .pan4, .pan5
{
    border: 2px solid black;
    margin-left: 5%;
    line-height: 2.5;
    padding: 0 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    background-color: white;
    transition: all 450ms;
}

.pan1:hover, .pan2:hover, .pan3:hover, .pan4:hover, .pan5:hover 
{
    transform: scale(1.02);
    color: white;
    background-color: black;
    opacity: 0.85;
}

.buttonori:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#p1agemilieu
{
    height: 400px;
}

/* Fin Page vcam1 --------------------------------------------------------------------*/ 

/* Début Page Panier -----------------------------------------------------------------*/ 

#pagemilieup
{
    display: flex;
}

#dpisplayphoto
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tpitre
{
    margin-top: 1%;
    text-align: center;
    text-decoration: underline 3px #945eef;
}

.deco
{
    text-decoration: underline 3px #e78b05;
    font-size: 30px;
    margin-top: 1%;
}

#total
{
    text-decoration: underline 3px #e78b05;
    font-size: 25px;
    margin-top: 2%;
}


.lpistecam
{
    display: flex;
    margin-top: 3%;
}

.dpes
{
    width: 200px;
}

.dpes2
{
    width: 200px;
    margin-left: 1%;
}

.cpam 
{
    padding-right: 40px;
}

#paniermenu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 2%;
}

#panier1, #panier2, #panier3, #panier4, #panier5
{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    width: 70%;
    text-align: center;
}

#nomm1, #nomm2, #nomm3, #nomm4, #nomm5 
{
    margin-left: 0px;
    text-align: center;
    width: 30%;
}

#prixx1, #prixx2,#prixx3, #prixx4, #prixx5
{
    text-align: center;
    width: 20%;
}

#formulaires
{
    width: 30%;
    text-align: center;
    margin-bottom: 2%;

}

/* Fin Page Panier -------------------------------------------------------------------*/ 